@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  margin-right: 20px;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333;
}

.nav-link:hover {
  color: #666;
}

.navbar-nav {
  flex-wrap: nowrap;
}

.nav-item {
  flex-grow: 1;
  text-align: center;
}

.sgrc-section {
  padding: 40px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.sgrc-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.sgrc-section p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
}

.members-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the container */
  justify-content: center;
  padding: 20px;
  background-color: #17d059; /* Light background for contrast */
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%; /* Adjust the width as necessary */
  max-width: 600px; /* Max width for larger screens */
  margin: 20px auto; /* Center the container horizontally */
}

.sgrc-members {
  list-style: none;
  padding: 0;
  text-align: left; /* Aligns the list to the left */
  width: 100%; /* Ensure full width for list items */
}

.sgrc-members li {
  font-size: 16px;
  color: #fff;
  padding: 8px 0;
  border-bottom: 1px solid #ddd; /* Adds a separator */
}

.sgrc-members li:last-child {
  border-bottom: none; /* Removes the bottom border for the last item */
}

.features-section h2 {
  margin-bottom: 20px;
}

.features-section {
  background-color: #f7f7f7;
  padding: 50px;
  text-align: center;
}

.feature {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature i {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature h3 {
  margin-top: 0;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px; /* adjust the height to your desired value */
}

.testimonial img {
  width: 50px; /* adjust the width to your desired value */
  height: 50px; /* adjust the height to your desired value */
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial p {
  margin-bottom: 10px;
}

.testimonial span {
  font-size: 16px;
  color: #666;
}
